body {
  margin: 0;
  padding: 20px;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;

  width: 600px;
  font-size: 35px;
}

#char-count {
  font-size: 12px;
  color: #ccc;
  margin: 3px;
}
